<h1>CARRITO</h1>
<div>
    {{#each products}}
    <div>
        <h2>{{this.product.title}}</h2>
        <p>Cantidad: {{this.product.quantity}}</p>
        <p>precio: ${{this.price}}</p>
    </div>
    {{/each}}
</div>

