<div>
    <h1>USUARIO:</h1>

    <div>
        <p>{{user.name}}</p>
        <p>{{user.role}}</p>
        <p>{{user.age}}</p>
        <p>{{user.email}}</p>
    </div>
  
    <a href="/api/sessions/logout"><button>Log Out</button></a>
</div>