<div>
    <h1>Registro</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name">
        <br />
        <label>Apellido</label>
        <input name="last_name">
        <br />
        <label>Email</label>
        <input name="email">
        <br />
        <label>Edad</label>
        <input name="age">
        <br />
        <label>Contraseña</label>
        <input name="password" type="password">
        <br />
        <input type="submit">
    </form>
    <p>Ya tienes cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script >
    const form = document.getElementById('registerForm');

    form.addEventListener('submit', e => {
        e.preventDefault();
        const data = new FormData(form);
        const obj = {};

        data.forEach((value, key) => obj[key] = value);
        console.log('Antes de la llamada a fetch');
        fetch('/api/sessions/register', {
            method: 'POST',
            body: JSON.stringify(obj),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(result => {
            console.log('Después de la llamada a fetch');
            if (result.status === 201) {
                console.log('Redirigiendo a /login');
                window.location.replace('/login');
            } else {
                console.log('Error en el servidor:', result.status);
            }
        }).catch(error => {
            console.error('Error en la llamada a fetch:', error);
        });
    })</script>