<h2>New password</h2>
<div>
    <form id="SendPasswordForm">
        <label>your new password:</label>
        <input name="password_reset">
        <input type="submit" value="Enviar">
    </form>
</div>